<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54540045386-4vrj0akgk4de690kt2b04uc220f8120c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54540045386-4vrj0akgk4de690kt2b04uc220f8120c</string>
	<key>API_KEY</key>
	<string>AIzaSyBId56Pyd9HXbNJOo0lplZvNjdHZUt8nJw</string>
	<key>GCM_SENDER_ID</key>
	<string>54540045386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mega.vimobflutter</string>
	<key>PROJECT_ID</key>
	<string>mega-vimob-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mega-vimob-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54540045386:ios:c67ffd8dad96905b6deab3</string>
	<key>DATABASE_URL</key>
	<string>https://mega-vimob-dev.firebaseio.com</string>
</dict>
</plist>